@import "colors.scss";
.home {
  height: 50vh;
  width: 100%;
  background-color: pink;
  background-color: rgba(0, 0, 0, 1);

  img {
    object-fit: cover;
    height: 80vh;
    opacity: 1;
  }
}

.home__banner {
  width: 100%;
  height: 50vh;
  // position: absolute;
  top: 0;
  // filter: blur(2px);
}

.categories {
  position: static;
  width: 100hw;
  height: 60vh;
  background-color: white;
  // background-image: linear-gradient(to bottom right, $lightpink,#9E6E5A );
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  align-items: center;

  .categories__mainDiv {
    // background-color: yellow;
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: 1.5%;
    
    // justify-content: space-between;
    flex-direction: column;
    > h2 {
      font-size: 1.6rem;
      color: $brown;
      text-align: center;
      padding: 1.8%;
      font-family: "Tenor Sans", sans-serif;
      margin-bottom: 1%;
      // font-family: 'Roboto', sans-serif;
    }
   
  }

  .categories__option {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
    // background-color: rebeccapurple;
  }
  .card {
    // box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
    height: 84%;
    margin-left: 2%;
    margin-right: 2%;
    background-color: #fff;
    // overflow: hidden;
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }

  .container {
    // padding: 2px 16px;
    // background-color: #fff;
    text-align: center;
    > p {
      margin-top: 7px;
      font-size: 1.2rem;

      font-family: "Ubuntu", sans-serif;
    }
  }
  .cat1Image {
    width: 100%;
    height: 80%;
    // margin-left: 20%;
    margin-top: 5%;
    text-align: center;
  }
}

.about__mainDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: $lightBrown;
    padding: 4%;
    padding-bottom: 6%;
   .about__div{
    margin-top: 2%;
    width:80%;
    padding: 4%;
    border: 2px solid $brown;
    border-radius: 10px;
    
    p{
        color: $brown;
    }
   }
    h2{
        font-size: 1.6rem;
      color: $brown;
      text-align: center;
      margin-bottom: 2%;
    }
}


